.homecover {
	background-size: cover;
	padding: 10rem 0rem;
	color: #fff;
	margin-bottom: 2rem;
	margin-top: -1.5rem;
	background-image: url(../img/blog-cover.jpg);
	background-position: center;

	h1 span, .lead span {
    background: rgba(0,0,0,0.6);
    padding: 3px 20px 3px 20px;
    display: inline-block;
	}
}

body {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

iframe.travel-maps {
  border: none;
	@media (max-width: 767px) {
		height: calc(100vh - 135px);
		margin-top: -35px;
	}
	height: calc(100vh - 150px);
	margin-top: -28px;
	width: 100%;

}
