.homecover {
	background-size: cover;
	padding: 18rem 0rem 2.5rem 0rem;
	color: #fff;
	margin-bottom: 2rem;
	margin-top: -1.5rem;
	background-image: url(../img/blog-cover.jpg);
	background-position: center;
	text-align: right;

	h1 span, .lead span {
    background: rgba(0,0,0,0.6);
    padding: 3px 20px 3px 20px;
    display: inline-block;
	}
}

.pull-right {
	float: right;
}

.listrecent h4.card-text {
	color: inherit;
}

.site-content.dark {
	background-color: #E9EBEE;
	// background-color: #FAFAFA;
}

body {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

del {
	color: #B7B7B7;
	font-size: 0.7em;
}

ct {
	border: 1px solid #dc3545;
	padding: 10px;
	color: red;
	white-space: pre;
}

.memo .card-body {
	overflow: auto;
}

.article-post p {
	margin: 0.5em 0 .5rem 0;
}

iframe.travel-maps {
  border: none;
	@media (max-width: 767px) {
		height: calc(100vh - 135px);
		margin-top: -35px;
	}
	height: calc(100vh - 150px);
	margin-top: -28px;
	width: 100%;

}

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

.about-me {

		/* --------------------------------- */
	/* Css Color Style                   */
	/*---------------------------------- */

	header nav a.home-btn, .estate figure .imgout .price, .site-btn, .timeline li:first-child i, nav ul li a:after, .owl-theme .owl-controls .owl-page span, .skill-list .progress .percentage, ul.profile-information li:first-child:before{
	    background: #029A83 !important;
	}

	header nav ul li a:hover, .events ul li .datenlocation span, .namenprice .price, .cbp-filter-item-active, .portfolio-content p span, #blog-post .blog-sidebar ul.category-list li a:hover, #blog-post .blog-sidebar .popular-posts ul li a .info{
	    color: #029A83 !important;
	}

	.spinner:before{
	    border-top-color: #029A83;
	}

	ul.profile-information li:before{
		border-color: #029A83;
	}

	/* Hover Color*/

	.site-btn:hover, header nav a.home-btn:hover, .section-title span{
	   background-color: #0fb198 !important;
	}

	/* Opacity Color*/

	#portfolio .cbp-item .portfolio-image .icon i, #portfolio .cbp-item figure .icon i{
	   background: rgb(2, 153, 131);
	}

	/* for dark colors */

	.site-btn, header nav a.home-btn i, ul.profile-information li:first-child:before, #blog .blog-box .date span, #blog .blog-box .date span, .timeline li:first-child i, .cbp-l-loadMore-link.site-btn{
		color:#fff;
	}

	.timeline li:before, ul.profile-information li:before{
		border-color: #029A83 !important;
	}

	.tab.active a, #blog-post .post-list ul li a, #blog-post .post-comment ul li .comment-content a{
		color: #029A83;
	}

}
