
@media print {
  .no-print {
    display: none;
  }

  .about-print {
    &.about-me .service {
      padding: 10px;
    }
    p.little-text {
      margin-bottom: 0;
    }
  }
  nav.fixed-top {
    display: none;
  }
  div.site-content {
    margin-top: 0;
    padding-top: 0;
  }
  .about-me .padding_30 {
    padding-top: 10px!important;
  }


  nav {
    display: none;
  }

  .print-only{
      display: block;
  }
}
